In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import joblib

### Load dataset

In [2]:
df = pd.read_csv('dataset/used_cars.csv')

### Data Analysis

In [3]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [4]:
df.tail()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000"

In [5]:
df.shape

(4009, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [7]:
df.isna().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

### Drop null values

In [8]:
df = df.dropna()

In [9]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
6,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
7,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"

In [10]:
df.shape

(3269, 12)

In [11]:
df.reset_index(inplace=True)

In [12]:
df.head()

,index,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
3,6,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
4,7,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"

In [13]:
df.drop(columns=['index'], inplace=True, axis=1)

In [14]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
3,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
4,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"

### Check Duplicated

In [15]:
df.duplicated().sum()

0

### Analysis Each Column

In [16]:
column = df.columns.tolist()
column

['brand',
 'model',
 'model_year',
 'milage',
 'fuel_type',
 'engine',
 'transmission',
 'ext_col',
 'int_col',
 'accident',
 'clean_title',
 'price']

In [17]:
unique_v = []
for col in column:
    pred_v = df[col].value_counts()
    unique_v.append(pred_v)

In [18]:
unique_v[0]

brand
Ford             341
BMW              316
Mercedes-Benz    268
Chevrolet        259
Toyota           171
Porsche          158
Audi             153
Lexus            136
Jeep             114
Land             100
Nissan            95
Cadillac          92
Dodge             84
GMC               84
RAM               72
Subaru            59
Hyundai           57
Mazda             57
INFINITI          54
Volkswagen        51
Honda             49
Kia               46
Acura             45
Lincoln           44
Jaguar            39
Volvo             33
MINI              31
Maserati          31
Bentley           27
Chrysler          25
Buick             25
Mitsubishi        20
Genesis           16
Hummer            16
Pontiac           15
Lamborghini       15
Alfa              12
Rolls-Royce       10
Ferrari            9
Aston              8
Scion              6
Saturn             5
McLaren            4
FIAT               4
Lotus              3
Mercury            3
Saab               2
Bugatti            1
Plymouth           1
smart              1
Maybach            1
Suzuki             1
Name: count, dtype: int64

### Display Features unique counts

In [19]:
for index, val in enumerate(column):
    print(f'{val}: have unique values {unique_v[index].count()}')

brand: have unique values 52
model: have unique values 1614
model_year: have unique values 34
milage: have unique values 2194
fuel_type: have unique values 7
engine: have unique values 963
transmission: have unique values 32
ext_col: have unique values 120
int_col: have unique values 74
accident: have unique values 2
clean_title: have unique values 1
price: have unique values 1200

In [20]:
df['accident'].value_counts()

accident
None reported                             2332
At least 1 accident or damage reported     937
Name: count, dtype: int64

In [21]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          2815
Hybrid             145
E85 Flex Fuel      128
Diesel             102
â€“                   44
Plug-In Hybrid      33
not supported        2
Name: count, dtype: int64

In [22]:

df['clean_title'].value_counts()

clean_title
Yes    3269
Name: count, dtype: int64

### Drop Clean Title

In [23]:
df.drop(columns=['clean_title'], inplace=True)

In [24]:
df.head(2)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,"$38,005"

In [25]:
def price(val):
    pric = val[1:] # $10,000
    price = pric.split(',') # [10, 000]
    price = price[0]+price[1] # 10000
    return int(price) # 10000

In [26]:
df['price'] = df['price'].apply(price)

In [27]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,10300
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,38005
2,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,15500

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3269 entries, 0 to 3268
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3269 non-null   object
 1   model         3269 non-null   object
 2   model_year    3269 non-null   int64
 3   milage        3269 non-null   object
 4   fuel_type     3269 non-null   object
 5   engine        3269 non-null   object
 6   transmission  3269 non-null   object
 7   ext_col       3269 non-null   object
 8   int_col       3269 non-null   object
 9   accident      3269 non-null   object
 10  price         3269 non-null   int64
dtypes: int64(2), object(9)
memory usage: 281.1+ KB

In [29]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,10300
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,38005
2,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,15500
3,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,31000
4,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,7300

### Convert  Categorical column into Neumerical

In [30]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [31]:
scaler = LabelEncoder()

In [32]:
df['brand'] = scaler.fit_transform(df['brand'])

In [33]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,14,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,10300
1,19,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,38005
2,20,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,15500

### Model

In [34]:
df['model'] = scaler.fit_transform(df['model'])

In [35]:
df.head(2)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,14,1481,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,10300
1,19,1011,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,38005

In [36]:
milage = scaler.fit(df['milage'])
df['milage'] = milage.transform(df['milage'])

In [37]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,14,1481,2013,1413,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,10300
1,19,1011,2021,1106,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,38005
2,20,1055,2015,2026,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,15500

In [38]:
df['fuel_type'] = scaler.fit_transform(df['fuel_type'])
df['engine'] = scaler.fit_transform(df['engine'])
df['transmission'] = scaler.fit_transform(df['transmission'])
df['ext_col'] = scaler.fit_transform(df['ext_col'])
df['int_col'] = scaler.fit_transform(df['int_col'])
df['accident'] = scaler.fit_transform(df['accident'])

In [39]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,14,1481,2013,1413,1,492,7,8,1,0,10300
1,19,1011,2021,1106,2,478,20,69,32,0,38005
2,20,1055,2015,2026,3,630,13,8,1,1,15500

In [40]:
df.describe()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
count,3269.000000,3269.000000,3269.000000,3269.000000,3269.000000,3269.000000,3269.00000,3269.000000,3269.000000,3269.000000,3269.000000
mean,21.850107,786.246864,2014.601407,1095.372285,2.018660,511.435913,17.84766,57.428571,13.474763,0.713368,39253.492505
std,14.550176,464.871025,6.152181,638.471497,0.685097,254.556964,8.98772,43.151092,21.674862,0.452257,49388.803508
min,0.000000,0.000000,1974.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1599.000000
25%,9.000000,404.000000,2011.000000,531.000000,2.000000,298.000000,10.00000,8.000000,1.000000,0.000000,15500.000000
50%,20.000000,755.000000,2016.000000,1121.000000,2.000000,528.000000,20.00000,46.000000,1.000000,1.000000,28000.000000
75%,34.000000,1194.000000,2019.000000,1645.000000,2.000000,723.000000,24.00000,94.000000,32.000000,1.000000,46000.000000
max,51.000000,1613.000000,2024.000000,2193.000000,6.000000,962.000000,31.00000,119.000000,73.000000,1.000000,749950.000000

### Select target variable

In [43]:
X  = df.drop(columns=['price'])
y = df['price']
from sklearn.svm import SVC

### Standard Scallar

In [44]:
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', SVC())
])

In [45]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=101)

In [46]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('model', SVC())])

In [48]:
y_p = pipeline.predict(x_test)

In [49]:
y_p

array([15000, 30000, 55000, 29000, 50000, 36000, 17500, 15000, 15000,
       15000, 17500, 31000, 35000, 17500, 15000, 15000, 11500, 17500,
       15000, 30000, 50000, 10500, 50000, 35000, 30000, 15000, 26000,
       15000, 30000, 24000, 15000, 15000, 65000, 15000, 15000, 13000,
       30000, 35000, 12500, 50000, 15000, 30000, 30000, 15000, 26000,
       15000, 15000, 12500, 31000, 15000, 36000, 15000, 12500, 15000,
       36000, 36000, 12500, 17500, 31000, 15000, 24000, 55000, 65000,
       50000,  9500,  5500, 29000, 50000,  8500, 29000, 30000, 35000,
       29000, 31000, 17500, 50000, 35000, 50000, 15000, 35000, 35000,
       26500, 15000, 15000, 17500, 31000, 26000, 36000, 17500, 35000,
       15000, 12000, 18000, 15000, 15000, 50000, 15000, 11000, 26500,
       31000, 50000, 15000, 15000, 26500, 50000, 11500, 30000, 15000,
       15000, 29000, 29000, 12500, 15000,  8500, 26000, 29000, 35000,
       29000, 17000, 50000, 36000, 15000, 29000, 55000, 15000, 31000,
       16000,  9000, 50000, 35000, 31000,  8500, 15000, 17500, 15000,
       50000, 36000, 12500, 15000, 24000, 26500,  8500, 12500, 24000,
       15000, 35000, 15000, 15000, 31000, 31000, 36000, 15000, 17500,
       15000, 35000, 35000, 36000, 12000, 12500, 15000, 26500, 29000,
       50000, 29000,  6500, 35000, 30000, 30000, 50000, 15000, 15000,
       15000, 12000, 15000, 75000, 15000, 26500, 30000, 15000, 35000,
       35000, 29000, 30000, 50000, 15000, 30000, 26500, 30000, 35000,
       30000,  6500, 15000, 15000, 11500, 15000, 11500, 15000, 32000,
       15000, 15000, 15000, 65000, 35000, 31000, 32000,  8500,  6500,
       50000, 65000, 31000,  8500, 26000, 26000,  6500, 15000, 15000,
       30000, 32000, 35000, 17000, 50000, 15000, 29000, 15000, 15000,
       32000, 65000,  8500, 35000, 15000, 35000, 35000,  6500, 26000,
       15000, 35000, 35000, 15000, 15000, 12500, 15000,  6500, 30000,
       36000, 12500, 36000,  6500, 15000, 30000, 15000, 17000, 35000,
       35000, 29000, 17500, 15000, 31000, 15000,  6500, 29000, 15000,
       15000, 15000, 15000, 15000, 15000, 31000, 15000, 15000, 29000,
       17500, 29000,  8500, 12500, 24000, 15000, 35000, 15000,  6500,
       15000, 15000, 29000, 15000, 15000, 31000, 30000,  8500, 15000,
       15000, 11000, 31000, 30000, 26500, 55000, 32000, 30000, 17500,
        8500, 21000, 15500, 15000,  9500, 26000,  5000, 35000, 15000,
       50000, 35000, 17500, 50000, 50000, 55000,  6500, 35000, 26000,
       35000, 35000, 29000, 15000, 75000, 15000, 35000, 31000, 50000,
       30000,  6500, 29000, 26000, 30000, 55000, 35000, 30000,  8500,
       24000, 30000, 15000, 15000,  6500, 10000, 15000, 12500, 26000,
       50000, 17500, 55000, 12500, 15000, 31000, 14500, 15000, 29000,
       17500, 55000, 29000, 12000, 31000, 29000, 19500, 29000, 15000,
       15000, 35000, 35000, 15000, 12500, 19500, 15000, 17500,  6500,
       30000, 75000, 15000, 65000,  8500, 15000, 12500, 35000, 75000,
       15000, 30000, 31000, 12500, 15000, 35000, 30000, 30000, 15000,
       15000, 15000, 16000, 15000, 31000, 65000, 15000, 24000, 15000,
       35000, 24000, 15000, 17900, 12000,  8500, 26500, 36000, 30000,
       12500, 15000, 50000, 17500, 35000, 15000, 50000, 17000, 26000,
       26000, 11500, 29000, 15000, 17500, 17500, 31000, 30000, 12500,
       65000, 24000, 65000, 15000, 26000, 50000, 12000, 17500, 15000,
       35000, 15000, 15000, 15000, 15000, 26000, 75000, 30000, 55000,
       50000, 29000, 29000, 26500, 26000, 35000, 17500, 36000, 29000,
       15000, 17500, 15000, 12500,  8500, 15000,  8500, 30000, 15000,
       17500, 15000, 15000, 18000, 15500, 15000, 15000, 15000,  8500,
       26000, 32000, 15000, 15000, 17500, 18000, 30000, 16000, 31000,
        8500, 35000, 12500,  6500, 50000, 26500, 29000, 15000,  8500,
       35000, 50000, 55000, 15500, 55000, 29000, 31000, 11500, 16000,
       12000, 31000, 15000, 30000, 35000, 15000,  8500,  6500, 29000,
       15000, 15000, 17500, 31000, 24000, 11500, 15000, 55000, 12500,
        8500, 15000, 35000, 24000, 36000, 29000, 30000,  8500, 50000,
       29000,  9000, 17500, 65000, 15000, 65000, 20000, 15000, 12000,
       12500, 12000, 50000, 15000,  8500, 17500, 15000, 65000, 15000,
       35000, 15000, 26000, 15000, 55000, 35000, 35000, 26000, 26500,
       24000, 15000, 15000, 35000, 15000, 15000, 35000, 35000, 26000,
       35000, 36000, 12000, 15000, 65000, 31000, 15000, 55000, 15000,
       36000, 17500, 15000, 15000, 15000, 36000, 30000, 50000, 15000,
       18000, 26000, 15000, 29000,  6500, 11500, 35000, 12500, 36000,
       16000, 15000, 12500, 55000, 55000, 15000, 17500, 26000, 15000,
       24000, 17500, 15000, 26500, 30000, 30000, 30000, 26000, 15000,
        8500, 30000, 15000, 15000, 50000, 30000, 29000, 35000, 17500,
       35000, 15000, 15000, 31000, 35000, 50000, 30000, 31000, 50000,
       15000, 15000, 15000, 15000, 31000, 15000, 31000, 19500, 17500,
       50000, 35000, 17500, 32000, 15000, 30000, 26000, 15000, 15000,
       11500, 15000, 15000, 17500, 26000, 12500, 15000, 29000, 12500,
       26000, 15000, 17500, 19500, 12500, 15000], dtype=int64)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scallar = StandardScaler()
X = scallar.fit_transform(X)

In [ ]:
X

### Split dataset into train and test

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=101)

In [ ]:
x_train.shape

In [ ]:
x_test.shape

### Load libraries for training

In [ ]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression

In [ ]:
models = {
    'svc':SVC(),
    'logistic_regression': LogisticRegression()
}

In [ ]:
for model_name, model in models.items():
    classifier = model
    classifier.fit(x_train, y_train)
    y_pred = classifier.predict(x_test)
    accuracy_s = accuracy_score(y_pred, y_test)
    print(f'For Model {model_name} accuracy score is {accuracy_s}')

In [ ]:
y_pred

In [ ]:
y_pred[:10]

In [ ]:
for index, val in enumerate(y_test):
    print(val, end=' ')
    if index==10:
        break

In [ ]:
*

In [50]:
x_test.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident
1240,46,789,2013,172,2,51,27,8,0,1
2598,23,1375,2018,1494,2,654,24,94,1,1
1439,3,1108,2022,2054,2,786,19,114,1,1
2768,34,298,2021,682,2,326,24,14,0,1
1365,21,624,2017,1096,2,672,19,8,1,1

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident
0,67,435,2024,546,3,734,77,67,67,1

In [56]:
joblib.dump(pipeline, 'model1.keras')

['model1.keras']

In [57]:
t_model = joblib.load('model1.keras')

In [58]:
pred = t_model.predict(test)

In [59]:
pred

array([15000], dtype=int64)

In [60]:
df.head(1)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,14,1481,2013,1413,1,492,7,8,1,0,10300

In [61]:
df['brand'].min()

0

In [62]:
df['brand'].max()

51

In [63]:
df['model'].min()

0

In [64]:
df['model'].max()

1613

In [65]:
df['model_year'].min()

1974

In [66]:
df['model_year'].max()

2024

In [67]:
df['milage'].min()

0

In [68]:
df['milage'].max()

2193

In [69]:
df['fuel_type'].min()

0

In [70]:
df.fuel_type.max()

6

In [71]:
df.engine.min()

0

In [72]:
df.engine.max()

962

In [73]:
df.transmission.min()

0

In [75]:
df.transmission.max()

31

In [76]:
df['ext_col'].min()

0

In [77]:
df['ext_col'].max()

119

In [78]:
df['int_col'].max()

73

In [80]:
for col in df.columns:
    print(col, "Min :", df[col].min())
    print(col, 'Max :', df[col].max())

brand Min : 0
brand Max : 51
model Min : 0
model Max : 1613
model_year Min : 1974
model_year Max : 2024
milage Min : 0
milage Max : 2193
fuel_type Min : 0
fuel_type Max : 6
engine Min : 0
engine Max : 962
transmission Min : 0
transmission Max : 31
ext_col Min : 0
ext_col Max : 119
int_col Min : 0
int_col Max : 73
accident Min : 0
accident Max : 1
price Min : 1599
price Max : 749950